.git
.github
.env
.env.*
!.env.example
.next
**/.next
.pytest_cache
**/.pytest_cache
.ruff_cache
**/.ruff_cache
.supabase
.turbo
**/.turbo
.venv
**/.venv
__pycache__
**/__pycache__
coverage
**/coverage
dist
**/dist
node_modules
**/node_modules
*.log
*.pyc
